html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bsquare {
  padding: 0px;
  margin: 0px;
  height: 2rem;
  width: 2rem;
}

html {
  position: relative;
  min-height: 100%;
}

/* Ship placement stuff */
body {
  margin-bottom: 60px;
}

.battlefield {
  align-self: center;
}

.shipcontainer {
  padding: 15px;
  margin: 3px;
}

.cell-busy {
  background: red;
}

.cell-highlighted {
  background: green;
}

.battlefield-head {
  text-align: center;
}

.battlefield-cell {
  border: 0.5px solid;
  padding: 0px;
}

.cell-content {
  position: relative;
  height: 2em;
  width: 2em;
}

.battlefield {
  border-collapse: collapse;
  position: relative;
}

.battlefield-ship {
  border: 3px solid;
  z-index: 2;
  background: #00ffff3b;
  border-radius: 3px;
  margin: -2px;
}
/* Ship placement stuff end*/