﻿@page
@using Domain
@model WebApp.Pages.configs
@{
    Layout = null;
}
<form asp-page="./play" method="post" id="play-from-conf">
    <input type="hidden" id="configid-play-from-conf" name="configid" value="1">
    @Html.AntiForgeryToken()
</form>
<a class="btn btn-primary" asp-page="./Config">New Config</a>
<table class="table table-striped">
    <thead>
    <th class="col-1" scope="col">Location</th>
    <th class="col-8" scope="col">Name</th>
    <th scope="col">Actions</th>
    </thead>
    <tbody>
    @foreach (SavedConfig conf in Model.SavedConfigs)
    {
        <tr id="conf-@conf.SavedConfigId">
            <th scope="col">DB</th>
            <td>@Html.DisplayFor(modelItem => conf.ConfigName)</td>
            <td>
                  <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Start Game
                  </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" asp-page="./newgame" asp-route-type="local" asp-route-id="@conf.SavedConfigId">Local</a></li>
                    <li><a class="dropdown-item" asp-page="./newgame" asp-route-type="multi" asp-route-id="@conf.SavedConfigId">Multiplayer</a></li>
                  </ul>
                <a class="btn btn-warning" asp-page="./Config" asp-route-id="@conf.SavedConfigId">Edit</a>
                <button class="btn btn-danger" onclick="deleteConfig(@conf.SavedConfigId, null)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                                                   <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                                                   <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                                                                 </svg>
                </button>
            </td>
        </tr>
    }
    
    @foreach (string conf in Model.LocalConfigs)
    {
        <tr id="conf-@conf">
            <th scope="col">Local</th>
            <td>@conf</td>
            <td>
              <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Start Game
              </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" asp-page="./newgame" asp-route-type="local" asp-route-fname="@conf">Local</a></li>
                    <li><a class="dropdown-item" asp-page="./newgame" asp-route-type="multi" asp-route-fname="@conf">Multiplayer</a></li>
                </ul>
                <a class="btn btn-warning" asp-page="./Config" asp-route-fname="@conf">Edit</a>
                <button class="btn btn-danger" onclick="deleteConfig(null, '@conf')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                                       <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                                       <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                                                     </svg>
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    function deleteConfig(id, name) {
        var params;
        
        if (name != null)
            params = `&name=${name}`;
        else if (id != null)
            params = `&id=${id}`;
        else
            return;
        
        $.ajax({
            url: `./Config?cmd=delete` + params,
            method: 'POST',
            data: { __RequestVerificationToken : $("input[name='__RequestVerificationToken']").val() }
        })
        .done(function () {
            $(`#conf-${id == null ? name : id}`).remove();
        })
        .fail(function(data) {
            alert(data.responseText);
        });
    }
</script>