﻿@page
@using BattleShips
@model WebApp.Pages.Config

@{
    ViewData["Title"] = "Manage Config";
}

<div class="container">
    <div class="col-lg-6 mx-auto">
        <p class="display-6">Manage Config</p>
        <form id="config-form">
            <div class="form-group">
                <label for="config-name" class="control-label">Config Name</label>
                <input type="text" id="config-name" name="config-name" class="form-control" value="@Model.Name" minlength="2" maxlength="32" required>
            </div>
            <div class="form-group">
                <label for="board-x" class="control-label">Board X size</label>
                <input type="number" id="board-x" name="BoardSizeX" class="form-control" value="@Model.Conf.BoardSizeX" min="2" max="26" required>
            </div>
            <div class="form-group">
                <label for="board-y" class="control-label">Board Y size</label>
                <input type="number" id="board-y" name="BoardSizeY" class="form-control" value="@Model.Conf.BoardSizeY" min="2" max="26" required>
            </div>
            <div class="form-group">
                <label for="touchrule" asp-for="Conf.EShipTouchRule" class="control-label">Ship Touch Rule</label>
                <select id="touchrule" name="EShipTouchRule" asp-for="Conf.EShipTouchRule" class="form-select" asp-items="Html.GetEnumSelectList<EShipTouchRule>()"></select>
            </div>
            <div class="my-2" id="ships">
                <h3>Ships</h3>
                <button type="button" id="add-ship-btn" class="btn btn-primary" onclick="addShipForm('New Ship', 1, 1, 1)">Add ship</button>
            </div>
            <div class="form-group">
                <button type="button" onclick="submitConfig(@Model.GetIdOrNull(), 'saveDb')" class="btn btn-primary">Save to DB</button>
                <button type="button" value="Save to Server" onclick="submitConfig(@Model.GetIdOrNull(), 'saveLocal')" class="btn btn-primary">Save Locally</button>
            </div>
        </form>
    </div>
    @Html.AntiForgeryToken()
</div>

<script>
    var shipIn = 0;
    
    window.onload = function () {
        $("#config-form").validate({
            errorClass: "invalid-feedback",
            highlight: function(element) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function(element) {
                $(element).removeClass('is-invalid');
            }
        });
    }
    
    function removeParentElement(elemId) {
        var element = document.getElementById(elemId).parentElement;
        element.parentNode.removeChild(element);
    }
    
    function addShipForm(shipName, quantity, sizeX, sizeY) {
        shipIn++;
        var shipForm =`<div class="card my-3" id="ship${shipIn}">` +
                      `    <div class="container">` + 
                      `            <label for="ship${shipIn}-name" class="control-label">Name<\/label>` +
                      `            <input type="text" id="ship${shipIn}-name" name="ship${shipIn}-name" class="form-control" value="${shipName}" minlength="2" maxlength="32" required>` +
                      `            <label for="ship${shipIn}-quantity" class="control-label">Quantity<\/label>` +
                      `            <input type="number" id="ship${shipIn}-quantity" name="ship${shipIn}-quantity" class="form-control" value="${quantity}" min="1" max="26" required>` +
                      `            <label for="ship${shipIn}-dimensions" class="control-label">Dimensions<\/label>` +
                      `            <div id="ship${shipIn}-dimensions" class="input-group mb-3">` +
                      `                <span class="input-group-text">X<\/span>` + 
                      `                <input type="number" id="ship${shipIn}-x" name="ship${shipIn}-x" class="form-control" value="${sizeX}" min="1" max="26" required>` +
                      `                <span class="input-group-text">Y<\/span>`+ 
                      `                <input type="number" id="ship${shipIn}-y" name="ship${shipIn}-y" class="form-control" value="${sizeY}" min="1" max="26" required>` +
                      `            <\/div>` +
                      `    <\/div>` +
                      `     <button id="ship${shipIn}-delete" class="btn btn-danger" onclick="removeParentElement('ship${shipIn}-delete')">Remove<\/button>` +
                      `<\/div>`
       $('#add-ship-btn').before(shipForm);
    }
    
    function parseFormToConfigJSON() {
          var data = new FormData(document.getElementById('config-form')); 
          var config = Object.fromEntries(data.entries());
          
          config['BoardSizeX'] = parseInt(config['BoardSizeX']);
          config['BoardSizeY'] = parseInt(config['BoardSizeY']);
          config['EShipTouchRule'] = parseInt(config['EShipTouchRule']);
          
          delete config['config-id'];
          delete config['config-name'];
          
          var ships = [];
          $ ("#ships").children(".card").each(function () {
            var ship = {};
            ship.Name = config[`${this.id}-name`];
            delete config[`${this.id}-name`];
            ship.Quantity = parseInt(config[`${this.id}-quantity`]);
            delete config[`${this.id}-quantity`];
            ship.SizeX = parseInt(config[`${this.id}-x`]);
            delete config[`${this.id}-x`];
            ship.SizeY = parseInt(config[`${this.id}-y`]);
            delete config[`${this.id}-y`];
            
            ships.push(ship);
          });
          if (ships.length > 0){
              config["ShipConfigs"] = ships;
              return JSON.stringify(config);
          }
          return null;
      }
    
    function submitConfig(id, cmd) {
        if ($("#config-form").valid()) {
            var configJson = parseFormToConfigJSON();
            if (configJson == null) {
                alert("Add atleast 1 ship!");
                return;
            }            
            $.ajax({
                url: `./Config`,
                method: 'POST',
                data: {__RequestVerificationToken : $("input[name='__RequestVerificationToken']").val(),
                        id: id, 
                        cmd: cmd,
                        name: $('#config-name').val(), 
                        configJson: configJson },
            })    
            .done(function () {
                location.href = "./";
            })
            .fail(function(data) {
                alert(data.responseText);
            });
        }
    }
    
    @for (int i = 0; i < Model.Conf.ShipConfigs.Count; i++)
    {
        ShipConfig ship = Model.Conf.ShipConfigs[i];

        <text>
        addShipForm("@ship.Name", @ship.Quantity, @ship.SizeX, @ship.SizeY);
        </text>
    }
</script>