﻿@page "{handler?}";
@using BattleShips
@using Domain
@using System.Globalization
@model WebApp.Pages.game

@{
    ViewData["Title"] = "Battleships";
}

@{
    string p1Color = "bg-primary";
    string p2Color = "bg-primary";

    if (Model.Game!.ActiveGameState!.Activeplayer)
        p1Color = "bg-danger";
    else
        p2Color = "bg-danger";

    Player activePlayer = Model.Game.GetActivePlayer()!;
    Player enemyPlayer = Model.Game.GetEnemyPlayer()!;
}
<div class="container">
    <p class="display-6">@(Model.Game.ActiveGameState.GameOver ? 
                             $"Game Over! {(activePlayer.Winner ? activePlayer.Name : enemyPlayer.Name)} has won!" : 
                             "Game in progress")</p>
    @if (Model.Delta > 0)
    {
        <h2>Viewing past gamestate</h2>
        <span class="badge rounded-pill bg-primary mb-4">
            Date Created: @Model.Game.ActiveGameState.DateTime.ToString(CultureInfo.CurrentCulture)
        </span>
    }
</div>
<input id="fname" type="text" value="@Model.Fname" hidden>
<input id="id" type="number" value=@Model.Id hidden>
@{
    if (Model.Game.ActiveGameState.Player2 != null && (Model.GameType == "local" || activePlayer.Name == Model.UserName ||
        (Model.GameType == "multi" && Model.Delta > 0) || 
        (Model.GameType == "multi" && Model.Game.ActiveGameState.GameOver))) 
    {
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3" id="player-1">
                    <h2>
                        <span class="badge @p1Color rounded-pill">
                            @activePlayer.Name | @(activePlayer.ShipsIntact()) ship(s) remain
                        </span>
                    </h2>
                    @{ await Html.RenderPartialAsync("playerview", new Tuple<Player, bool>(activePlayer, false)); }
                    <p class="text-muted">Your turn! Press on a square on the enemy board to detonate it!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3" id="player-2">
                    <h2>
                        <span class="badge @p2Color rounded-pill">
                            @enemyPlayer.Name | @(enemyPlayer.ShipsIntact()) ship(s) remain
                        </span>
                    </h2>
                    @{ await Html.RenderPartialAsync("playerview", new Tuple<Player, bool>(enemyPlayer, true && !Model.Game.ActiveGameState.GameOver)); }
                </div>
            </div>
        </div>

        <div class="container my-3">
            <div class="col">
                @{
                    if (Model.Game.Finished)
                    {
                        if (Model.Delta > 0)
                        {
                            <a asp-page="game" asp-route-id="@Model.Id" asp-route-Fname="@Model.Fname" asp-route-delta="@(Model.Delta > 0 ? Model.Delta.Value - 1 : 0)" type="button" class="btn btn-primary">View Next Gamestate</a>
                        }
                        <a asp-page="game" asp-route-id="@Model.Id" asp-route-Fname="@Model.Fname" asp-route-delta="@(Model.Delta >= 0 ? Model.Delta.Value + 1 : 2)" type="button" class="btn btn-primary">View Previous Gamestate</a>
                        if (Model.Delta > 0)
                        {
                            <button type="button" class="btn btn-danger" onclick="update('setactive', @Model.Delta)">Set as Active Gamestate</button>
                        }
                    }
                    else if (Model.GameType == "local")
                    {
                        <button type="button" class="btn btn-danger btn-lg px-4 gap-3" onclick="update('switch', null)">Switch Player</button>
                    }
                }
            </div>
        </div>
        @Html.AntiForgeryToken()

            @if (!(Model.Delta > 0))
            {
                <script>
                $(".playerview-enemy > .row > .bsquare").click(function() {
                    var coords = {
                        "X": $(this).data('x'),
                        "Y": $(this).data('y')
                    }
                    update("bomb", JSON.stringify(coords));
                })
                </script>
            }
        <script>
        function update(cmd, data) {
            console.log(data);
            if (cmd == null) return;
            var requestData = {       
                __RequestVerificationToken : $("input[name='__RequestVerificationToken']").val(),
                cmd: cmd 
            };
            if (cmd === "bomb")
                requestData.coords = data;
            if (cmd === "viewstate" || cmd === "setactive")
                requestData.delta = data;
            var fname = $('#fname').val();
            if (fname !== "")
                requestData.fname = fname;
            else
                requestData.id = $('#id').val();
            
            $.ajax({
                url: `./game`,
                method: 'POST',
                data: requestData
            })
            .done(function () {
                if (requestData.cmd === "setactive")
                    window.location.href = `./`;
                else
                    location.reload();
            })
            .fail(function(data) {
                alert(data.responseText);
            });
        }
        </script>
        }
    else
    {
        <div class="container py-5 my-5" style="text-align: center"> 
            <h3>Not your turn! / Awaiting Player</h3>
            <button class="btn btn-primary" onclick="location.reload()">Refresh</button>
        </div>
    }
}