﻿@page
@using Domain
@model WebApp.Pages.games

@{
    Layout = null;
}
<form asp-page="./play" method="post" id="play-from-save">
    <input type="hidden" id="saveid" name="saveid" value="1">
    @Html.AntiForgeryToken()
</form>
<table class="table">
    <thead>
    <th>Type</th>
    <th>Name</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Actions</th>
    </thead>
    <tbody>
    @foreach (string game in Model.LocalGames)
    {
        <tr id="game-@game">
            <th scope="col">Local</th>
            <td>@game</td>
            <td><p class="text-muted">Local Game</p>
            <td><p class="text-muted">Local Game</p>
            <td>
                <a href="./game?fname=@game" form="play-from-save" class="btn btn-success">Continue</a>
                <button onclick="deleteGame(null, '@game')" class="btn btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </td>
        </tr>
    }
    @foreach (Game game in Model.DbGames)
    {
        string player2 = game.Player2 != null ? game.Player2 : "Awaiting player";
        <tr id="game-@game.GameId">
            <th scope="col">Multiplayer</th>
            <td>@game.GameName</td>
            <td>@game.Player1</td>
            <td>@player2</td>
            <td>
                <a href="./game?id=@game.GameId" class="btn btn-success">Join</a>
                <button onclick="deleteGame(@game.GameId, null)" class="btn btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </td>
        </tr>
    }

    </tbody>
</table>

<script>
    function deleteGame(id, name) {
        var params;
        
        if (name != null)
            params = `?fname=${name}`;
        else if (id != null)
            params = `?id=${id}`;
        else
            return;
        
        $.ajax({
            url: `./game/delete/` + params,
            method: 'POST',
            data: { __RequestVerificationToken : $("input[name='__RequestVerificationToken']").val() }
        })
        .done(function () {
            $(`#game-${id == null ? name : id}`).remove();
        })
        .fail(function(data) {
            alert(data.responseText);
        });
    }

</script>