﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.UserName == null)
{
    <div class="modal" tabindex="-1" id="loginmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">"Login"</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Username</label>
                            <input asp-for="UserName" minlength="2" maxlength="16" class="form-control" required/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
    $(window).on('load', function() {
        $('#loginmodal').modal('show');
    });
</script>
}

<div class="px-4 py-5 my-5 text-center">
    <h1>⚓</h1>
    <p class="display-4">Hello, @Model.UserName</p>
    <h1 class="display-5 fw-bold"></h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-2">
            <a class="btn btn-lg btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Start Game
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" asp-page="./newgame" asp-route-type="local">Local</a></li>
                <li><a class="dropdown-item" asp-page="./newgame" asp-route-type="multi">Multiplayer</a></li>
              </ul>
            <button type="button" id="savesbtn" class="btn btn-info btn-lg px-4 gap-3">Existing Games</button>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-2">
            <button type="button" class="btn btn-danger btn-lg" id="configsbtn">Configs</button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="savesmodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Saved Games</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="saves-modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="configsmodal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Saved Configs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body" id="configs-modal-body">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
@Html.AntiForgeryToken()
<script>
// Source: https://stackoverflow.com/a/8164469   
$('#configsbtn').click(function() {
    $("#configsmodal").modal("show");

    $.ajax({
        url: './configs',
        method: 'POST',
        data: {__RequestVerificationToken : $("input[name='__RequestVerificationToken']").val()}     
        })
        .done(function(result) {
            $('#configs-modal-body').html(result);
        });
});
$('#savesbtn').click(function() {
    $("#savesmodal").modal("show");

    $.ajax({
        url: './games',
        method: 'POST',
        data: {__RequestVerificationToken : $("input[name='__RequestVerificationToken']").val()}     
        })
        .done(function(result) {
            $('#saves-modal-body').html(result);
        });

});
</script>