﻿@page
@model WebApp.Pages.newgame

@{
    ViewData["Title"] = "Setup";
}

<div class="container">
  <div class="mb-3">
    <p class="display-6 mb-1">Setup@((Model.GameType == "join") ? " | Joining Game" : "")</p>
    <span class="badge rounded-pill bg-primary">Game type: @Model.GameType</span>
    <span class="badge rounded-pill bg-primary">Touchrule: @Model.Config.EShipTouchRule.ToString()</span>
    <input id="fname" type="text" value="@Model.ConfigName" hidden>
    <input id="configId" type="number" value=@Model.ConfigId hidden>
    <input id="type" type="text" value="@Model.GameType" hidden>
    <input id="gameId" type="text" value="@Model.GameId" hidden>
  </div>
  <div>
    @if (Model.GameType != "join")
    {
      <form>
        <label for="game-name" class="control-label">Game Name</label>
        <input type="text" id="game-name" class="form-control" value="battleshipgame" minlength="2" maxlength="32" required>
      </form>
    }
  </div>
  <div id="player1" class="row playerview">
    <div id="player1-grid" class="container battlefield col-md-6">
    </div>
    <div id="player1-ships" class="container col-md-4 shipcontainer">
    </div>
    <div class="form-group mb-3">
      <form>
        <label for="player1-name" class="control-label">Player Name</label>
        <input type="text" id="player1-name" class="form-control" value="@Model.UserName" minlength="2" maxlength="16" required>
        <p class="text-muted">When creating/joining a new multiplayer game, make sure this is the same as your username.</p>
      </form>
    </div>
  </div>
  <script>
    window.addEventListener('load', function() {
      createBoard("player1-grid", @Model.Config.BoardSizeX, @Model.Config.BoardSizeY);
      @foreach (var ship in Model.Config.ShipConfigs)
      {
        for (int i = 0; i < ship.Quantity; i++)
        {
          @:createShip("player1-ships", "@ship.Name", @ship.SizeX, @ship.SizeY);
        }
      }
      })
  </script>

  @if (Model.GameType == "local")
  {
    <div id="player2" class="row playerview" hidden>
      <div id="player2-grid" class="container battlefield col-md-6">
      </div>
      <div id="player2-ships" class="container col-md-4 shipcontainer">
      </div>
      <div class="form-group mb-3">
        <form>
          <label for="player2-name" class="control-label">Player Name</label>
          <input type="text" id="player2-name" class="form-control" value="Player 2" minlength="2" maxlength="16" required>
        </form>
      </div>
    </div>
    <button id="switch-player-btn" class="btn btn-primary">Switch Player</button>

    <script>
    window.addEventListener('load', function() {
      createBoard("player2-grid", @Model.Config.BoardSizeX, @Model.Config.BoardSizeY);
      @foreach (var ship in Model.Config.ShipConfigs)
      {
        for (int i = 0; i < ship.Quantity; i++)
        {
          @:createShip("player2-ships", "@ship.Name", @ship.SizeX, @ship.SizeY);
        }
      }
      })
  </script>
  }
  @Html.AntiForgeryToken()
  <button id="submit-btn" class="btn btn-primary">Start Game</button>
</div>


<script>
window.addEventListener('load', function() {
  $("form").each(function() {
      $(this).validate({
          errorClass: "invalid-feedback",
          highlight: function(element) {
              $(element).addClass('is-invalid');
          },
          unhighlight: function(element) {
              $(element).removeClass('is-invalid');
          }
      });
  })
});

$(function () {
  $(".shipcontainer").droppable({
    drop: function (event, ui) {
      ui.draggable.appendTo(this);
    }
  });
});
  
function createShip(containerId, name, x, y) {
  var ship = `<div name="${name}" data-x=${x} data-y=${y}
    class="battlefield-ship draggable ui-widget content" style=\"width: ${x * 2}em; height: ${y * 2}em\;"></div>`;
  var shipElem = $($.parseHTML(ship));

  $(`#${containerId}`).append(shipElem);

  shipElem.draggable({
    cursor: "move",
    snapTolerance: 20,
    start: function () {
      toggleShipCellsBusy($(this));
    },
    stop: function (event, ui) {
      ui.helper.css("left", 0);
      ui.helper.css("top", 0);
      unHighlightAll();
      toggleShipCellsBusy($(this));
    }
  });
  shipElem.dblclick(function() { rotateShip(shipElem); });
}

function rotateShip(ship) {
  if (!$(ship).hasClass('battlefield-ship')) return;
  
  toggleShipCellsBusy(ship);

  var x = ship.data('x');
  var y = ship.data('y');
  
  ship.data('x', y);
  ship.data('y', x);
  ship.css('height', `${x * 2}em`);
  ship.css('width', `${y * 2}em`);
 
  toggleShipCellsBusy(ship);
}

// set cells that the ship covers when placed to be busy
function toggleShipCellsBusy(ship) {
  if (!$(ship).hasClass('battlefield-ship')) return;
  
  var rootCell = $(ship).parents(".battlefield-cell");
  if (rootCell.length) {
    var squareXPos = $(rootCell).data("x-pos");
    var squareYPos = $(rootCell).data("y-pos");
    for (let x = ship.data("x") - 1; x >= 0; x--) {
      for (let y = ship.data("y") - 1; y >= 0; y--) {
        var containerId = $(ship).parents(".playerview").attr("id");
        var bSquare = getBoardSquare(containerId, squareXPos + x, squareYPos + y);
        
        ($(bSquare).hasClass("cell-busy")) ? bSquare.removeClass("cell-busy") : bSquare.addClass("cell-busy");
      }
    }
  }
}

function unHighlightAll() {
  $(".battlefield-cell").each(function () {
    $(this).removeClass("cell-highlighted");
  });
}

function getBoardSquare(containerId, x, y) {
  var elem = $(`#${containerId}`).find(`[data-x-pos=${x}][data-y-pos=${y}]`);
  return elem.length ? elem : null;
}

function createBoard(containerId, xSize, ySize) {
  var boardStr = '<table class="battlefield"\n> <thead>\n <th></th>';
  for (let i = 0; i < xSize; i++) {
    boardStr += `<th class="battlefield-head">${String.fromCharCode(65+i)}</th>`;
  }
  boardStr += "</thead>\n <tbody>";
  for (let y = 0; y < ySize; y++) {
    boardStr += `<tr class="battlefield-row" id="${containerId}-row${y}">` + 
                `<td class="battlefield-head"><b>${y}</b></td>`;
    for (let x = 0; x < xSize; x++)
      boardStr += `<td class="battlefield-cell" data-x-pos=${x} data-y-pos=${y}>
                        <div class="cell-content"></div>
                   </td>\n`;

    boardStr += "</tr>\n";
  }

  boardStr += "</tbody>\n</table>\n";

  $(`#${containerId}`).append(boardStr);
  $(".battlefield-cell").droppable({
    over: function (event, ui) {
      unHighlightAll();
      var squareXPos = $(this).data("x-pos");
      var squareYPos = $(this).data("y-pos");
      var shipElem = ui.draggable;
      for (let x = shipElem.data("x") - 1; x >= 0; x--)
        for (let y = shipElem.data("y") - 1; y >= 0; y--) {
          var containerId = $(shipElem).parents(".playerview").attr("id");
          var bSquare = getBoardSquare(containerId, squareXPos + x, squareYPos + y);
          if (bSquare != null && !bSquare.hasClass("cell-busy"))
            $(bSquare).addClass("cell-highlighted");
        }
    },
    drop: function (event, ui) {
      var squareXPos = $(this).data("x-pos");
      var squareYPos = $(this).data("y-pos");
      var shipElem = ui.draggable;
      for (let x = shipElem.data("x") - 1; x >= 0; x--)
        for (let y = shipElem.data("y") - 1; y >= 0; y--) {
          var containerId = $(shipElem).parents(".playerview").attr("id");
          var bSquare = getBoardSquare(containerId, squareXPos + x, squareYPos + y);
          if (bSquare == null || bSquare.hasClass("cell-busy")) return;
        }
      ui.draggable.appendTo($(this).children(".cell-content")[0]);
    }
  });
}
$("#switch-player-btn").click(function() {
  var player1 = $("#player1");
    var player2 = $("#player2");
    if (player1.is(":hidden"))
      player1.removeAttr("hidden");
    else
      player1.attr("hidden", "hidden");
    
    if (player2.is(":hidden"))
      player2.removeAttr("hidden");
    else
      player2.attr("hidden", "hidden");
});

function getPlayerData(player) {
  var playerContainer = $(`#${player}`);
  if (!playerContainer.length) return null;
  // if a ship is not placed, fail
  if ($(playerContainer).find('.shipcontainer').find('.battlefield-ship').length) {
    alert("All ships must be placed on board(s)!");
    return null;
  }
  var boardSquares = [];
  var ships = [];
  
  var tableRows = $(playerContainer).find('.battlefield-row');
  for (let xPos = 0; xPos < $(tableRows[0]).find('.battlefield-cell').length; xPos++) {
    let boardCol = [];
    for(let yPos = 0; yPos < $(tableRows).length; yPos++) {
      var boardSquare = getBoardSquare($(tableRows[yPos]).attr('id'), xPos, yPos);
      boardCol.push({ "Boat": $(boardSquare).hasClass('cell-busy'),  "Detonated": false });
      
      if ($(boardSquare).find('.battlefield-ship').length) {
        var shipElem = $(boardSquare).find('.battlefield-ship');
        var coords = [];
        for (let xDelta = shipElem.data("x") - 1; xDelta >= 0; xDelta--)
          for (let yDelta = shipElem.data("y") - 1; yDelta >= 0; yDelta--)
            coords.push({"X": xPos + xDelta, "Y": yPos + yDelta});
        
        ships.push({ "Name": shipElem.attr("name"),
          "SizeX": shipElem.data("x"),
          "SizeY": shipElem.data("y"),
          "BSquares": coords
        });
      }
    }
    boardSquares.push(boardCol);
  }
  
  return {
    "Board": boardSquares,
    "Ships": ships,
    "Name": $(`#${player}-name`).val(),
    "Winner": false
  } 
}

$("#submit-btn").click(function() {
    var formsValid = true;
    $("form").each(function() {
      if (!$(this).valid())
        formsValid = false;
    })
    if (!formsValid) return;
    
    var player1 = getPlayerData("player1");
    var player2 = getPlayerData("player2");
    var requestData = {
      __RequestVerificationToken : $("input[name='__RequestVerificationToken']").val(),
      type: $("#type").val(),
      name: $("#game-name").val()
    };
    
    if (player1 == null) return
    requestData.p1 = JSON.stringify(player1);
    
    if (requestData.type === "local" && player2 == null) return;
    requestData.p2 = JSON.stringify(player2);
    
    if (requestData.type === "join") {
     requestData.gameId = $("#gameId").val()
    }
        
    var fname = $("#fname").val();
    var id = $("#configId").val();

    if (id !== "-1") 
      requestData.configId = id;
    else 
      requestData.fname = fname
    
    $.ajax({
        url: `./newgame`,
        method: 'POST',
        data: requestData
    })
    .done(function() {
        if (requestData.type === "join") {
            window.location.href = `./game?id=@Model.GameId`;
        }
        window.location.href = "./";
    })
    .fail(function(data) {
        alert(data.responseText);
    });
});
</script>