﻿@using BattleShips
@model Tuple<Player, bool>
@{
    Layout = null;
}

<!DOCTYPE html>

<div class="container playerview@(Model!.Item2 ? "-enemy" : "")">
    @for(int y = 0; y < Model!.Item1.Board[0].Count; y++)
    {
        <div class="row">
            @for(int x = 0; x < Model!.Item1.Board.Count; x++)
            {
                <div class="col btn btn-outline-secondary bsquare" data-x="@x" data-y="@y">
                    @{
                        BoardSquare square = Model!.Item1.Board[x][y];
                        string status;
                        if (Model!.Item2)
                            status = square.ToStringAsEnemy();
                        else 
                            status = square.ToString();

                        status = status switch
                        {
                            " " => "🌊",
                            "*" => "💥",
                            "B" => "🚢",
                            "@" => "☠",
                            _ => status
                            };

                    }
                    @status
                </div>
            }
        </div>
    }
</div>